* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  background-color:  rgb(236, 238, 214);
  color: white;
  font-family: "Nunito", sans-serif;
}
nav {
  background-color: #120fc5;
    width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.barrasup {
  width: 150px;
  height: auto;
  background-color: rgb(23, 31, 100);
  border-radius: 15%;
  margin: 10px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: medium;
}
.barrasup2 {
  width: 150px;
  height: auto;
  border-radius: 15%;
  margin: 2px;
  /*padding: 5px;*/
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: medium;
}
.calesita {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(216, 182, 109);
}
#carru {
    perspective: 250px;
    width: 600px;
    height: 350px;
    position: relative;
}
.cartas {
    width: 100px;
    height: 160px;
    background-color: rgb(23, 88, 88);
    position: absolute;
    top: 95px;
    left: 125px;
    border-radius: 8px;
    cursor: pointer;
    animation: carrusel 8s linear infinite;
}

@keyframes carrusel {
    from {
        transform: rotateY(360deg) translateZ(150px);
        z-index: 10;
        opacity: 0.9;
    }
    50% {
        z-index: -10;
    }
    to {
        transform: rotateX(0deg) translateZ(150px);
    }
}
#carta1 {
    background-image: url(img/metal.jpg);
    background-size: cover;
    }
#carta2 {
    background-image: url(img/forza.jpg);
    background-size: cover;
    animation-delay: 1s;
}
#carta3 {
    background-image: url(img/sky.jpg);
    background-size: cover;
    animation-delay: 2s;
}
#carta4 {
    background-image: url(img/mickey.jpg);
    background-size: cover;
    animation-delay: 3s;
}
#carta5 {
    background-image: url(img/homefront.jpg);
    background-size: cover;
    animation-delay: 4s;
}
#carta6 {
    background-image: url(img/battlefield.jpg);
    background-size: cover;
    animation-delay: 5s;
}
#carta7 {
    background-image: url(img/fifa.avif);
    background-size: cover;
    animation-delay: 6s;
}
#carta8 {
    background-image: url(img/minecraft.jpg);
    background-size: cover;
    animation-delay: 7s;
}
#ladocarru h1{
    width: 300px;
  height: auto;
  font-family: "Poetsen One", sans-serif;
  font-size: xx-large;
  text-align: center;
  color: black;
}
.titulosecc {
  font-size: xx-large;
  background-color:  rgb(236, 238, 214);
  color: black;
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Poetsen One", sans-serif;
  }
  .titulosecc2 {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30px;
    font-size: xx-large;
    background-color:  rgb(236, 238, 214);
    color: black;
    /*padding-left: 150px;*/
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Poetsen One", sans-serif;
    }
    .titulosecc3 {
      font-size:medium;
      background-color:  rgb(233, 241, 143);
      color: black;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
      font-family: "Poetsen One", sans-serif;
      }
      .titulosecc4 {
        font-size:medium;
        background-color:  rgb(233, 241, 143);
        color: black;
        margin-left: 180px;
        margin-top: 50px;
        margin-right: 180px;
        margin-bottom: 502px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: "Poetsen One", sans-serif;
        }
        .titulosecc5 {
          height: 500px;
          width: 400px;
          border: 1px solid black;
          border-radius: 20px;
          margin-top: 30px;
          font-size: xx-large;
          background-color:  rgb(236, 238, 214);
          color: black;
          /*padding-left: 150px;*/
          padding-top: 50px;
          padding-bottom: 20px;
          font-family: "Poetsen One", sans-serif;
          }
  .formu {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-image:url(img/fondo.jpg);
    background-size: cover;
    color: black;
    /*padding-left: 150px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    }
  #regis {
    text-align: left;
    font-size: small;
  }
  #advierte {
    font-size: large;
    color: red;
  }
  .cajas {
    width: 100%;
  height: auto;
  background-image: url(img/mejores.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
  }
  .cajas2 {
    width: 100%;
  height: auto;
  background-image: url(img/mejores2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
  }
  .cajas3 {
    width: 100%;
  height: auto;
  background-image: url(img/vintage1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
  }
  .cajas4 {
    width: 100%;
  height: auto;
  background-image: url(img/roblox.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
  }
  .cajas5 {
    width: 100%;
  height: auto;
  background-image: url(img/consolas.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
  }
  .itemcaja {
    width: 300px;
  height: auto;
  background-color: white;
  margin: 30px;
  text-align: center;
  padding: 5px;
  color: black;
  font-family: "Poetsen One", sans-serif;
  }
  .itemcaja2 {
    width: 200px;
  height: auto;
  background-color: white;
  margin: 30px;
  text-align: center;
  padding: 5px;
  color: black;
  font-family: "Poetsen One", sans-serif;
  }
 
footer {
  background-color: #120fc5;
  margin-top: 20px;
    width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.barrainf {
  width: 300px;
  height: auto;
  background-color: #120fc5;
    margin: 10px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: medium;
}

.link {
  color: white;
  text-decoration: none;
  font-size: small;
 }
.hr {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn_buscar {
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border-color: #181419;
  font-size: medium;
}
.btn_iniciar_sesion {
  padding: 10px 20px;
  background-color: #181419; 
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border-color: #181419;
}
.input_buscar {
  padding: 8px 15px;
  border-radius: 10px;
  border-color: #181419;
  margin-top: 20px;
}
#principalsw {
  background-image: url(img/starwars.jpeg);
  background-size: cover;
}
#titulo1 {
  text-align: center;
  color: rgb(233, 241, 143);
  font-family: "Poetsen One", sans-serif;
}
label {
  font-size:large;
}
